.projModalCon{
  position: fixed;
  width: 600px;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 10;
  
  .pModalBox{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
    .pModalTop{
      cursor: pointer;
      width: 100%;
      padding: 20px 30px;
      font-size: 16pt;
      border-bottom: 1px solid #D9CFC7;
    }
    .pModalMain{
      padding: 20px 30px;
      .pModalImg{
        margin-bottom: 20px;
        width: 100%;
        object-fit: cover;
      }
      .pModalTitle{
        font-size: 20pt;
        font-weight: 500;
        margin-bottom: 20px;
      }
      .pModalInfo{
        margin-bottom: 20px;
      }
      .mProjectSkill{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        >span{
          padding: 5px 7px;
          border-radius: 10px;
          background: #EFE9E3;
        }
      }
    }
  }
  .modalBackground{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.7;
    z-index: -10;
  }
}

@media (max-width : 700px) {
  .projModalCon{
    width: 100%;
    height: 100%;
  }
}